@use "mixin" as *;
@use "colors" as *;

body {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
  font-size: calc(0.5vw + 1rem);
}
.container {
  width: min(90%, 100rem);
  margin-inline: auto;
}

/*------------------Header------------------------*/
.header {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: 1.2rem;
      font-weight: 600;
      text-decoration: none;
      color: $colorBlue;
    }
    .nav-links {
      @include flex;
      gap: 1.5rem;
      font-size: 1.2rem;
      font-weight: 600;
      li {
        list-style-type: none;
        padding: 1rem 2rem;
        a {
          text-decoration: none;
          color: $colorBlue;
          &:hover {
            border-bottom: 2px solid $colorBlue;
            padding-bottom: 0.5rem;
          }
        }
      }
      .give-btn {
        text-decoration: none;
        background: $colorLightYellow;
        color: $colorWhite;
        padding: 0.5rem 1rem;
        border-radius: 50px 50px;
        margin-left: 1rem;
      }
    }
  }
}
/*--------------------------Main--------------------------*/
.main {
  padding: 1rem 0;
  min-height: 70vh;
  @include center;
  position: relative;
  .main-content {
    position: relative;
    font-size: 3.2rem;
    font-weight: 600;
    color: $colorWhite;
    width: 50%;
  }
  &:before {
    content: "";
    position: absolute;
    background-image: url(/images/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    filter: brightness(60%);
  }
}
/*-------------------------Service Container-----------------*/
.service-container {
  min-height: 30vh;
  .two-container {
    @include center;
    height: 35vh;
    .col {
      width: 100%;

      height: 30vh;
      color: $colorDarkGray;
      padding: 1.5rem 0;
      @include center;
      .center {
        text-align: center;
      }
      .btn {
        text-decoration: none;
        background: $colorLightYellow;
        color: $colorWhite;
        padding: 0.5rem 1rem;
        border-radius: 50px 50px;
        transition: 0.2s ease-in-out;
        &:hover {
          background: $colorLightGray;
        }
      }
    }
    .service {
      background: $colorBlue;
      color: $colorWhite;
    }
  }
}

/*-------------------------Bible Study--------------------*/
.bible-study-container {
  background: $colorLightGray;
  min-height: 60vh;
  @include center;
  .two-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorDarkGray;
    text-align: center;
    .col {
      width: 50%;
      .row {
        border-bottom: 2px solid $colorDarkGray;

        width: 100%;
      }
    }
    .zoom {
      a > i {
        color: $colorBlue;
        font-size: 6rem;
      }
    }
  }
}

/*------------------------Location--------------------------*/
.location-container {
  min-height: 70vh;
  padding: 2rem 0;
  @include center;
  .location-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .col {
      width: 50%;
    }
    .map {
      iframe {
        width: 100%;
      }
    }
    .info {
      h4,
      p {
        padding: 0.2rem 0;
        margin: 0.2rem 0;
      }
    }
  }
}
/*----------------------------Social Content-----------------*/
.social-media-container {
  min-height: 35vh;
  padding: 1rem 0;
  background: $colorLightYellow;
  @include center;
  .three-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    color: $colorWhite;
    position: relative;
    .col {
      height: 300px;
      width: 33%;

      .btn {
        text-decoration: none;
        color: $colorWhite;
        background: $colorBlue;
        border-radius: 50px 50px;
        padding: 0.5rem 1rem;
        position: absolute;
        bottom: 0.5rem;
      }
    }
  }
}
/*---------------------------Footer--------------------------*/
.footer {
  min-height: 20vh;
  padding: 1rem 0;
  background: $colorBlue;
  color: $colorWhite;
}
